{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Twilio - Conversations",
    "description" : "This is the public Twilio REST API.",
    "termsOfService" : "https://www.twilio.com/legal/tos",
    "contact" : {
      "name" : "Twilio Support",
      "url" : "https://support.twilio.com",
      "email" : "support@twilio.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version" : "1.25.1"
  },
  "servers" : [ {
    "url" : "https://conversations.twilio.com"
  } ],
  "paths" : {
    "/v1/Configuration" : {
      "description" : "The Configuration resource manages a set of account-level settings applicable to the Conversations API.",
      "get" : {
        "description" : "Fetch the global configuration of conversations on your account",
        "operationId" : "FetchConfiguration",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.configuration"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Update the global configuration of conversations on your account",
        "operationId" : "UpdateConfiguration",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateConfigurationRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.configuration"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "account_sid", "default_chat_service_sid", "default_messaging_service_sid" ],
        "pathType" : "instance"
      }
    },
    "/v1/Configuration/Webhooks" : {
      "description" : "A Webhook resource manages a service-level set of callback URLs and their configuration for receiving all conversation events.",
      "get" : {
        "description" : "",
        "operationId" : "FetchConfigurationWebhook",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.configuration.configuration_webhook"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "",
        "operationId" : "UpdateConfigurationWebhook",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateConfigurationWebhookRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.configuration.configuration_webhook"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "target", "method", "pre_webhook_url", "post_webhook_url" ],
        "pathType" : "instance"
      }
    },
    "/v1/Conversations" : {
      "description" : "A Conversation resource represents an omnichannel group conversation with an ordered list of messages and a participant roster.",
      "get" : {
        "description" : "Retrieve a list of conversations in your account's default service",
        "operationId" : "ListConversation",
        "parameters" : [ {
          "name" : "PageSize",
          "in" : "query",
          "description" : "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListConversationResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Create a new conversation in your account's default service",
        "operationId" : "CreateConversation",
        "parameters" : [ {
          "name" : "X-Twilio-Webhook-Enabled",
          "in" : "header",
          "description" : "The X-Twilio-Webhook-Enabled HTTP request header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "true", "false" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateConversationRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.conversation"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "chat_service_sid", "friendly_name", "date_created" ],
        "pathType" : "list"
      }
    },
    "/v1/Conversations/{ConversationSid}/Messages" : {
      "description" : "A Message resource represents a message in a conversation.",
      "get" : {
        "description" : "Retrieve a list of all messages in the conversation",
        "operationId" : "ListConversationMessage",
        "parameters" : [ {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for messages.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Order",
          "in" : "query",
          "description" : "The sort order of the returned messages. Can be: `asc` (ascending) or `desc` (descending), with `asc` as the default.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "asc", "desc" ]
          }
        }, {
          "name" : "PageSize",
          "in" : "query",
          "description" : "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListConversationMessageResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Add a new message to the conversation",
        "operationId" : "CreateConversationMessage",
        "parameters" : [ {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-Twilio-Webhook-Enabled",
          "in" : "header",
          "description" : "The X-Twilio-Webhook-Enabled HTTP request header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "true", "false" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateConversationMessageRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.conversation.conversation_message"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "index", "author", "date_created" ],
        "pathType" : "list"
      }
    },
    "/v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts" : {
      "description" : "A Message Receipt resource represents a delivery/read receipt of a message in a conversation.",
      "get" : {
        "description" : "Retrieve a list of all delivery and read receipts of the conversation message",
        "operationId" : "ListConversationMessageReceipt",
        "parameters" : [ {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "MessageSid",
          "in" : "path",
          "description" : "The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IM[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "PageSize",
          "in" : "query",
          "description" : "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListConversationMessageReceiptResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "message_sid", "status", "date_created" ],
        "pathType" : "list"
      }
    },
    "/v1/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts/{Sid}" : {
      "description" : "A Message Receipt resource represents a delivery/read receipt of a message in a conversation.",
      "get" : {
        "description" : "Fetch the delivery and read receipts of the conversation message",
        "operationId" : "FetchConversationMessageReceipt",
        "parameters" : [ {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "MessageSid",
          "in" : "path",
          "description" : "The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IM[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^DY[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.conversation.conversation_message.conversation_message_receipt"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "message_sid", "status", "date_created" ],
        "pathType" : "instance"
      }
    },
    "/v1/Conversations/{ConversationSid}/Messages/{Sid}" : {
      "description" : "A Message resource represents a message in a conversation.",
      "get" : {
        "description" : "Fetch a message from the conversation",
        "operationId" : "FetchConversationMessage",
        "parameters" : [ {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IM[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.conversation.conversation_message"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Update an existing message in the conversation",
        "operationId" : "UpdateConversationMessage",
        "parameters" : [ {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IM[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "X-Twilio-Webhook-Enabled",
          "in" : "header",
          "description" : "The X-Twilio-Webhook-Enabled HTTP request header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "true", "false" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateConversationMessageRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.conversation.conversation_message"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "delete" : {
        "description" : "Remove a message from the conversation",
        "operationId" : "DeleteConversationMessage",
        "parameters" : [ {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IM[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "X-Twilio-Webhook-Enabled",
          "in" : "header",
          "description" : "The X-Twilio-Webhook-Enabled HTTP request header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "true", "false" ]
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "The resource was deleted successfully."
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "index", "author", "date_created" ],
        "pathType" : "instance"
      }
    },
    "/v1/Conversations/{ConversationSid}/Participants" : {
      "description" : "A Participant resource represents a member of the conversation.",
      "get" : {
        "description" : "Retrieve a list of all participants of the conversation",
        "operationId" : "ListConversationParticipant",
        "parameters" : [ {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for participants.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PageSize",
          "in" : "query",
          "description" : "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListConversationParticipantResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Add a new participant to the conversation",
        "operationId" : "CreateConversationParticipant",
        "parameters" : [ {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-Twilio-Webhook-Enabled",
          "in" : "header",
          "description" : "The X-Twilio-Webhook-Enabled HTTP request header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "true", "false" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateConversationParticipantRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.conversation.conversation_participant"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "messaging_binding" ],
        "pathType" : "list"
      }
    },
    "/v1/Conversations/{ConversationSid}/Participants/{Sid}" : {
      "description" : "A Participant resource represents a member of the conversation.",
      "get" : {
        "description" : "Fetch a participant of the conversation",
        "operationId" : "FetchConversationParticipant",
        "parameters" : [ {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^MB[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.conversation.conversation_participant"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Update an existing participant in the conversation",
        "operationId" : "UpdateConversationParticipant",
        "parameters" : [ {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^MB[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "X-Twilio-Webhook-Enabled",
          "in" : "header",
          "description" : "The X-Twilio-Webhook-Enabled HTTP request header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "true", "false" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateConversationParticipantRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.conversation.conversation_participant"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "delete" : {
        "description" : "Remove a participant from the conversation",
        "operationId" : "DeleteConversationParticipant",
        "parameters" : [ {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^MB[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "X-Twilio-Webhook-Enabled",
          "in" : "header",
          "description" : "The X-Twilio-Webhook-Enabled HTTP request header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "true", "false" ]
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "The resource was deleted successfully."
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "messaging_binding" ],
        "pathType" : "instance"
      }
    },
    "/v1/Conversations/{ConversationSid}/Webhooks" : {
      "description" : "A Scoped Webhook resource manages a set of callback URLs and their configuration for receiving events specific to one conversation.",
      "get" : {
        "description" : "Retrieve a list of all webhooks scoped to the conversation",
        "operationId" : "ListConversationScopedWebhook",
        "parameters" : [ {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PageSize",
          "in" : "query",
          "description" : "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListConversationScopedWebhookResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Create a new webhook scoped to the conversation",
        "operationId" : "CreateConversationScopedWebhook",
        "parameters" : [ {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateConversationScopedWebhookRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "target" ],
        "pathType" : "list"
      }
    },
    "/v1/Conversations/{ConversationSid}/Webhooks/{Sid}" : {
      "description" : "A Scoped Webhook resource manages a set of callback URLs and their configuration for receiving events specific to one conversation.",
      "get" : {
        "description" : "Fetch the configuration of a conversation-scoped webhook",
        "operationId" : "FetchConversationScopedWebhook",
        "parameters" : [ {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^WH[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Update an existing conversation-scoped webhook",
        "operationId" : "UpdateConversationScopedWebhook",
        "parameters" : [ {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^WH[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateConversationScopedWebhookRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.conversation.conversation_scoped_webhook"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "delete" : {
        "description" : "Remove an existing webhook scoped to the conversation",
        "operationId" : "DeleteConversationScopedWebhook",
        "parameters" : [ {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this webhook.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^WH[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "The resource was deleted successfully."
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "target" ],
        "pathType" : "instance"
      }
    },
    "/v1/Conversations/{Sid}" : {
      "description" : "A Conversation resource represents an omnichannel group conversation with an ordered list of messages and a participant roster.",
      "get" : {
        "description" : "Fetch a conversation from your account's default service",
        "operationId" : "FetchConversation",
        "parameters" : [ {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource. Can also be the `unique_name` of the Conversation.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.conversation"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Update an existing conversation in your account's default service",
        "operationId" : "UpdateConversation",
        "parameters" : [ {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource. Can also be the `unique_name` of the Conversation.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-Twilio-Webhook-Enabled",
          "in" : "header",
          "description" : "The X-Twilio-Webhook-Enabled HTTP request header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "true", "false" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateConversationRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.conversation"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "delete" : {
        "description" : "Remove a conversation from your account's default service",
        "operationId" : "DeleteConversation",
        "parameters" : [ {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource. Can also be the `unique_name` of the Conversation.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-Twilio-Webhook-Enabled",
          "in" : "header",
          "description" : "The X-Twilio-Webhook-Enabled HTTP request header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "true", "false" ]
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "The resource was deleted successfully."
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "chat_service_sid", "friendly_name", "date_created" ],
        "pathType" : "instance"
      }
    },
    "/v1/Credentials" : {
      "description" : "A Credential resource represents a push notification credential.",
      "get" : {
        "description" : "Retrieve a list of all push notification credentials on your account",
        "operationId" : "ListCredential",
        "parameters" : [ {
          "name" : "PageSize",
          "in" : "query",
          "description" : "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListCredentialResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Add a new push notification credential to your account",
        "operationId" : "CreateCredential",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateCredentialRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.credential"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "friendly_name", "type" ],
        "pathType" : "list"
      }
    },
    "/v1/Credentials/{Sid}" : {
      "description" : "A Credential resource represents a push notification credential.",
      "get" : {
        "description" : "Fetch a push notification credential from your account",
        "operationId" : "FetchCredential",
        "parameters" : [ {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^CR[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.credential"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Update an existing push notification credential on your account",
        "operationId" : "UpdateCredential",
        "parameters" : [ {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^CR[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCredentialRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.credential"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "delete" : {
        "description" : "Remove a push notification credential from your account",
        "operationId" : "DeleteCredential",
        "parameters" : [ {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^CR[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "The resource was deleted successfully."
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "friendly_name", "type" ],
        "pathType" : "instance"
      }
    },
    "/v1/ParticipantConversations" : {
      "description" : "Participant Conversations resource represents a list of Conversations that this Participant belongs to belonging to a default conversation service.",
      "get" : {
        "description" : "Retrieve a list of all Conversations that this Participant belongs to by identity or by address. Only one parameter should be specified.",
        "operationId" : "ListParticipantConversation",
        "parameters" : [ {
          "name" : "Identity",
          "in" : "query",
          "description" : "A unique string identifier for the conversation participant as [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource). This parameter is non-null if (and only if) the participant is using the Conversations SDK to communicate. Limited to 256 characters.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Address",
          "in" : "query",
          "description" : "A unique string identifier for the conversation participant who's not a Conversation User. This parameter could be found in messaging_binding.address field of Participant resource. It should be url-encoded.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PageSize",
          "in" : "query",
          "description" : "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListParticipantConversationResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "chat_service_sid", "participant_sid", "conversation_sid" ],
        "pathType" : "list"
      }
    },
    "/v1/Roles" : {
      "description" : "A Role resource represents a set of permissions granted to a user within a service or a conversation.",
      "get" : {
        "description" : "Retrieve a list of all user roles in your account's default service",
        "operationId" : "ListRole",
        "parameters" : [ {
          "name" : "PageSize",
          "in" : "query",
          "description" : "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListRoleResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Create a new user role in your account's default service",
        "operationId" : "CreateRole",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateRoleRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.role"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "friendly_name", "type" ],
        "pathType" : "list"
      }
    },
    "/v1/Roles/{Sid}" : {
      "description" : "A Role resource represents a set of permissions granted to a user within a service or a conversation.",
      "get" : {
        "description" : "Fetch a user role from your account's default service",
        "operationId" : "FetchRole",
        "parameters" : [ {
          "name" : "Sid",
          "in" : "path",
          "description" : "The SID of the Role resource to fetch.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^RL[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.role"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Update an existing user role in your account's default service",
        "operationId" : "UpdateRole",
        "parameters" : [ {
          "name" : "Sid",
          "in" : "path",
          "description" : "The SID of the Role resource to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^RL[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateRoleRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.role"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "delete" : {
        "description" : "Remove a user role from your account's default service",
        "operationId" : "DeleteRole",
        "parameters" : [ {
          "name" : "Sid",
          "in" : "path",
          "description" : "The SID of the Role resource to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^RL[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "The resource was deleted successfully."
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "friendly_name", "type" ],
        "pathType" : "instance"
      }
    },
    "/v1/Services" : {
      "description" : "A Service resource is a top-level conversation resource container that serves as a data silo.",
      "get" : {
        "description" : "Retrieve a list of all conversation services on your account",
        "operationId" : "ListService",
        "parameters" : [ {
          "name" : "PageSize",
          "in" : "query",
          "description" : "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListServiceResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Create a new conversation service on your account",
        "operationId" : "CreateService",
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateServiceRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.service"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "friendly_name" ],
        "pathType" : "list"
      }
    },
    "/v1/Services/{ChatServiceSid}/Bindings" : {
      "description" : "A Binding resource represents a push notification binding and its configuration, for delivering conversation events to mobile or web endpoints.",
      "get" : {
        "description" : "Retrieve a list of all push notification bindings in the conversation service",
        "operationId" : "ListServiceBinding",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Binding resource is associated with.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "BindingType",
          "in" : "query",
          "description" : "The push technology used by the Binding resources to read.  Can be: `apn`, `gcm`, or `fcm`.  See [push notification configuration](https://www.twilio.com/docs/chat/push-notification-configuration) for more info.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [ "apn", "gcm", "fcm" ]
            }
          }
        }, {
          "name" : "Identity",
          "in" : "query",
          "description" : "The identity of a [Conversation User](https://www.twilio.com/docs/conversations/api/user-resource) this binding belongs to. See [access tokens](https://www.twilio.com/docs/conversations/create-tokens) for more details.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "PageSize",
          "in" : "query",
          "description" : "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListServiceBindingResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "endpoint", "identity" ],
        "pathType" : "list"
      }
    },
    "/v1/Services/{ChatServiceSid}/Bindings/{Sid}" : {
      "description" : "A Binding resource represents a push notification binding and its configuration, for delivering conversation events to mobile or web endpoints.",
      "get" : {
        "description" : "Fetch a push notification binding from the conversation service",
        "operationId" : "FetchServiceBinding",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Binding resource is associated with.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^BS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.service.service_binding"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "delete" : {
        "description" : "Remove a push notification binding from the conversation service",
        "operationId" : "DeleteServiceBinding",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) to delete the Binding resource from.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "Sid",
          "in" : "path",
          "description" : "The SID of the Binding resource to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^BS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "The resource was deleted successfully."
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "endpoint", "identity" ],
        "pathType" : "instance"
      }
    },
    "/v1/Services/{ChatServiceSid}/Configuration" : {
      "description" : "A Service Configuration resource manages service-level settings applicable to the Conversation API.",
      "get" : {
        "description" : "Fetch the configuration of a conversation service",
        "operationId" : "FetchServiceConfiguration",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the Service configuration resource to fetch.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.service.service_configuration"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Update configuration settings of a conversation service",
        "operationId" : "UpdateServiceConfiguration",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the Service configuration resource to update.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateServiceConfigurationRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.service.service_configuration"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "chat_service_sid" ],
        "pathType" : "instance"
      }
    },
    "/v1/Services/{ChatServiceSid}/Configuration/Notifications" : {
      "description" : "A Service Notification resource manages a set of settings to determine push notification behavior at service level.",
      "get" : {
        "description" : "Fetch push notification service settings",
        "operationId" : "FetchServiceNotification",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Configuration applies to.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.service.service_configuration.service_notification"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Update push notification service settings",
        "operationId" : "UpdateServiceNotification",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Configuration applies to.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateServiceNotificationRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.service.service_configuration.service_notification"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "chat_service_sid" ],
        "pathType" : "instance"
      }
    },
    "/v1/Services/{ChatServiceSid}/Configuration/Webhooks" : {
      "description" : "A service webhook configuration resource manages a service-level set of callback URLs and their configuration for receiving all the corresponding service events.",
      "get" : {
        "description" : "Fetch a specific service webhook configuration.",
        "operationId" : "FetchServiceWebhookConfiguration",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) this conversation belongs to.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.service.service_configuration.service_webhook_configuration"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Update a specific Webhook.",
        "operationId" : "UpdateServiceWebhookConfiguration",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) this conversation belongs to.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateServiceWebhookConfigurationRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.service.service_configuration.service_webhook_configuration"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "chat_service_sid" ],
        "pathType" : "instance"
      }
    },
    "/v1/Services/{ChatServiceSid}/Conversations" : {
      "description" : "A Service Conversation resource represents an omnichannel group conversation with an ordered list of messages and a participant roster.",
      "get" : {
        "description" : "Retrieve a list of conversations in your service",
        "operationId" : "ListServiceConversation",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Conversation resource is associated with.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "PageSize",
          "in" : "query",
          "description" : "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListServiceConversationResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Create a new conversation in your service",
        "operationId" : "CreateServiceConversation",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Conversation resource is associated with.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "X-Twilio-Webhook-Enabled",
          "in" : "header",
          "description" : "The X-Twilio-Webhook-Enabled HTTP request header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "true", "false" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateServiceConversationRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.service.service_conversation"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "chat_service_sid", "friendly_name", "date_created" ],
        "pathType" : "list"
      }
    },
    "/v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages" : {
      "description" : "A Service Message resource represents a message in a conversation within a specific service.",
      "get" : {
        "description" : "Retrieve a list of all messages in the conversation",
        "operationId" : "ListServiceConversationMessage",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for messages.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Order",
          "in" : "query",
          "description" : "The sort order of the returned messages. Can be: `asc` (ascending) or `desc` (descending), with `asc` as the default.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "asc", "desc" ]
          }
        }, {
          "name" : "PageSize",
          "in" : "query",
          "description" : "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListServiceConversationMessageResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Add a new message to the conversation in a specific service",
        "operationId" : "CreateServiceConversationMessage",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-Twilio-Webhook-Enabled",
          "in" : "header",
          "description" : "The X-Twilio-Webhook-Enabled HTTP request header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "true", "false" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateServiceConversationMessageRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.service.service_conversation.service_conversation_message"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "index", "author", "date_created" ],
        "pathType" : "list"
      }
    },
    "/v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts" : {
      "description" : "A Service Message Receipt resource represents a delivery/read receipt of a message in a conversation.",
      "get" : {
        "description" : "Retrieve a list of all delivery and read receipts of the conversation message",
        "operationId" : "ListServiceConversationMessageReceipt",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Message resource is associated with.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "MessageSid",
          "in" : "path",
          "description" : "The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IM[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "PageSize",
          "in" : "query",
          "description" : "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListServiceConversationMessageReceiptResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "message_sid", "status", "date_created" ],
        "pathType" : "list"
      }
    },
    "/v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{MessageSid}/Receipts/{Sid}" : {
      "description" : "A Service Message Receipt resource represents a delivery/read receipt of a message in a conversation.",
      "get" : {
        "description" : "Fetch the delivery and read receipts of the conversation message",
        "operationId" : "FetchServiceConversationMessageReceipt",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Message resource is associated with.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "MessageSid",
          "in" : "path",
          "description" : "The SID of the message within a [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) the delivery receipt belongs to.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IM[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^DY[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.service.service_conversation.service_conversation_message.service_conversation_message_receipt"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "message_sid", "status", "date_created" ],
        "pathType" : "instance"
      }
    },
    "/v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Messages/{Sid}" : {
      "description" : "A Service Message resource represents a message in a conversation within a specific service.",
      "get" : {
        "description" : "Fetch a message from the conversation",
        "operationId" : "FetchServiceConversationMessage",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IM[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.service.service_conversation.service_conversation_message"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Update an existing message in the conversation",
        "operationId" : "UpdateServiceConversationMessage",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IM[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "X-Twilio-Webhook-Enabled",
          "in" : "header",
          "description" : "The X-Twilio-Webhook-Enabled HTTP request header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "true", "false" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateServiceConversationMessageRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.service.service_conversation.service_conversation_message"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "delete" : {
        "description" : "Remove a message from the conversation",
        "operationId" : "DeleteServiceConversationMessage",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this message.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Sid",
          "in" : "path",
          "description" : "A 34 character string that uniquely identifies this resource.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IM[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "X-Twilio-Webhook-Enabled",
          "in" : "header",
          "description" : "The X-Twilio-Webhook-Enabled HTTP request header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "true", "false" ]
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "The resource was deleted successfully."
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "index", "author", "date_created" ],
        "pathType" : "instance"
      }
    },
    "/v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Participants" : {
      "description" : "A Service Participant resource represents a member of the conversation within a specific service.",
      "get" : {
        "description" : "Retrieve a list of all participants of the conversation",
        "operationId" : "ListServiceConversationParticipant",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for participants.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "PageSize",
          "in" : "query",
          "description" : "How many resources to return in each list page. The default is 50, and the maximum is 1000.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 1,
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListServiceConversationParticipantResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "post" : {
        "description" : "Add a new participant to the conversation in a specific service",
        "operationId" : "CreateServiceConversationParticipant",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
          "description" : "The SID of the [Conversation Service](https://www.twilio.com/docs/conversations/api/service-resource) the Participant resource is associated with.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "maxLength" : 34,
            "minLength" : 34,
            "pattern" : "^IS[0-9a-fA-F]{32}$",
            "type" : "string"
          }
        }, {
          "name" : "ConversationSid",
          "in" : "path",
          "description" : "The unique ID of the [Conversation](https://www.twilio.com/docs/conversations/api/conversation-resource) for this participant.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-Twilio-Webhook-Enabled",
          "in" : "header",
          "description" : "The X-Twilio-Webhook-Enabled HTTP request header",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "true", "false" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/x-www-form-urlencoded" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateServiceConversationParticipantRequest"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/conversations.v1.service.service_conversation.service_conversation_participant"
                }
              }
            }
          }
        },
        "security" : [ {
          "accountSid_authToken" : [ ]
        } ],
        "x-maturity" : [ "GA" ]
      },
      "servers" : [ {
        "url" : "https://conversations.twilio.com"
      } ],
      "x-twilio" : {
        "defaultOutputProperties" : [ "sid", "messaging_binding" ],
        "pathType" : "list"
      }
    },
    "/v1/Services/{ChatServiceSid}/Conversations/{ConversationSid}/Participants/{Sid}" : {
      "description" : "A Service Participant resource represents a member of the conversation within a specific service.",
      "get" : {
        "description" : "Fetch a participant of the conversation",
        "operationId" : "FetchServiceConversationParticipant",
        "parameters" : [ {
          "name" : "ChatServiceSid",
          "in" : "path",
[...]
